<section>
    <div class="primary-image"></div>
</section>
<section>
    <div class="text-description">
        <h1>Top verdades</h1>
    </div>
</section>
<section>
    <div class="grid-container">
        <div class="photo1"></div>
        <div class="photo2"></div>
        <div class="photo3"></div>
    </div>
</section>

<section>
    <div class="primary-image"></div>
</section>
<section>
    <div class="text-description">
        <h1>Top mentiras</h1>
    </div>
</section>
<section>
    <div class="grid-container-2">
        <div class="photo1"></div>
        <div class="photo2"></div>
    </div>
</section>